{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Kids Video Game a Games Category Flat Bootstrap responsive Website Template | Index :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Kids Video Game Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<!--// css -->
<!-- font -->
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

</head>
<body> 
<!-- Header -->
	<div class="header">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a  href="{% url 'index' %}"><h1>Kids <img src="{% static 'images/c1.png' %}" alt=" " /> Game</h1></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href="{% url 'index' %}">Home</a></li>
						<li class="hover-effect"><a href="{% url 'about' %}">About</a></li>
						<li class="hover-effect"><a href="{% url 'games' %}">Games</a></li>
						<li class="hover-effect"><a href="{% url 'news' %}">News</a></li>
						<li class="hover-effect"><a href="{% url 'contact' %}">Contact</a></li>
						<li class="hover-effect"><a href="{% url 'login' %}">LogIn</a></li>
						<li class="hover-effect"><a href="{% url 'logout' %}">LogOut</a></li>
						<li class="hover-effect"><a href="{% url 'register' %}">Register</a></li>


					</ul>
				</div>

			</div>
		</nav>



            <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Edit Picture</label>
                    <input type="file" id="input-first-name" name="pic" class="form-control">
                  </div>
                </div>
                
              </div>
          </div>
          
          <!-- Address -->
          <div class="col-xl-8 order-xl-1">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Edit profile </h3>
                    <p style="color: red;">{{msg}}</p>
                  </div>
                  <div class="col-4 text-right">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <form action="{% url 'myprofile' %}" method="POST" enctype="multipart/form-data" >   <!-- To pass any type of file-->
                    {% csrf_token %}
                  <h6 class="heading-small text-muted mb-4">User information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-email">Email address</label>
                              <input type="email" id="input-email" name="email" value="{{user_object.email}}" class="form-control" placeholder="" disabled>
                            </div>
                          </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-username">contact</label>
                          <input type="text" id="input-username" name="contact" class="form-control" placeholder="contact" value="{{user_object.contact}}">
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name"> name</label>
                          <input type="text" id="input-first-name" name="name" class="form-control"  placeholder="name" value="{{user_object.name}}">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-last-name">city</label>
                          
                          <input type="text" id="input-last-name" name="city" class="form-control" placeholder="city" value="{{user_object.city}}">
                        </div>
                      </div>
                    </div>
                    <button type="submit" style="width: 100%;" class="btn btn-primary"><i class="fa fa-edit"></i> Edit Profile</button>
                </form>
              </div>
            </div>
          </div>
</body>
</html>        
         
          