{% load static %}

<!DOCTYPE HTML>
<html>
<head>
     <title>The Coming soon Website Template | Home :: w3layouts</title>
	<link href="{% static 'paycss/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<div class="content">
			<div class="wrap">
				<div class="content-grid">
			<p><img src="{% static 'payimages/top.png' %}" title=""></p>
				</div>
				<div class="grid">
		<p><img src="{% static 'payimages/game.jpg' %}" title=""></p>
		<p><img src="{% static 'payimages/install.png' %}" title=""></p>
		<p><img src="{% static 'payimages/play.png' %}" title=""></p>
		
		<div class="footer">
			<p class="a"><a href="#"><img src="{% static 'payimages/facebook.png' %}" title=""></a><a href="#"><img src="{% static 'payimages\twitter.png' %}" title=""></a></p>
		
		</div>
		<div class="clear"></div>
		</div>
		</div>
		<div class="clear"></div>
</body>
</html>